# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Java
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.log

# Deploy
onebound-java/settings-deploy.xml
